@inject IAuthorizationService authService
@inject SignInManager<ApplicationUser> signInManager
@{
    AuthorizationPolicy policy = new AuthorizationPolicyBuilder().RequireRole(nameof(Role.Administrator)).Build();
    AuthorizationResult authorizationResult = await authService.AuthorizeAsync(User, policy);
    bool isAdmin = authorizationResult.Succeeded;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>
    <link href="~/lib/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/lib/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="~/lib/css/sb-admin.css" rel="stylesheet">
</head>

<body id="page-top">
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
        <a class="navbar-brand mr-1" asp-action="Index" asp-controller="Home">Admin Area</a>
        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
            </ul>
            <partial name="_LoginPartial"></partial>
        </div>
    </nav>

    <div id="wrapper">
        <ul class="sidebar navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="Home"><i class="fas fa-fw fa-tachometer-alt"></i> <span>Dashboard</span></a>
            </li>
            @if (isAdmin)
            {
                <li class="nav-item active">
                    <a class="nav-link" asp-page="/Admin/Users"><i class="fas fa-fw fa-users"></i> <span>Gestione Utenti</span></a>
                </li>
            }
            else if (signInManager.IsSignedIn(User))
            {
                <li class="nav-item active">
                    <a class="nav-link" asp-page="/Contact"><i class="fas fa-fw fa-life-ring"></i> <span>Supporto</span></a>
                </li>
            }
        </ul>

        <div id="content-wrapper">
            <div class="container-fluid">
                <div class="card mb-3">
                    <div class="card-header"></div>
                    <div class="card-body">
                    @if (TempData["ConfirmationMessage"] != null)
                    {
                        <div class="alert alert-success alert-dismissable mt-3" role="alert">
                            @TempData["ConfirmationMessage"]
                        </div>
                    }
                    @RenderBody()
                    </div>
                    <div class="card-footer small text-muted"></div>
                </div>
            </div>

            <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © Your Website 2019 | <a asp-page="/Privacy">Privacy</a></span>
                </div>
            </div>
            </footer>
        </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>
    <script src="~/lib/vendor/jquery/jquery.min.js"></script>
    <script src="~/lib/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/lib/js/sb-admin.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>