@page
<h1>Privacy</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut rem, a cum sed obcaecati laudantium recusandae reprehenderit incidunt consectetur ipsam inventore vel sunt facilis deserunt fugiat neque magni dicta ipsum?</p>